@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{--mainbg:#001F3F;}
.color-main{color: var(--mainbg);}
.color-white{color: #fff;}
.color-gray{color: grey;}
.color-lightgray{color: #D9D9D9;}
.bg-white{background-color: #fff;}
.w-100{width: 100%;}
.w-60{width: 48%;}
.w-20{width: 18%;}
.w-35{width: 35%;}
.w-30{width: 30%;}
.w-25{width: 20%;}
.w-75{width: 65%;}
.p-5{padding: 5%;}
.p-2{padding: 2%;}
.p-3{padding: 3%;}
.py-5{padding: 5% 0;}
.py-2{padding: 2% 0;}
.py-10{padding: 10% 0;}
.pt-5{padding-top: 5%;}
.pt-30{padding-top: 30%;}
.pt-25{padding-top: 25%;}
.pt-10{padding-top: 10%;}
.m-2{margin-bottom: 10%;}
.overflow-hidden{overflow: hidden;}
.box-shadow{box-shadow:0 0 5px  gray ;}
body{
    background-color: #001F3F;
    color: #fff;
}
.container1{
    width: 95%;
    margin: 0 2%;
}
.d-inline-b{
    display: inline-block;
    vertical-align: middle;
    margin: 0 2.5% ;
}
.list-style-none{ 
    list-style: none;
    padding: 2% 6%;
}
.text-c{
    text-align: center;
}
.list{
    margin:0 2%;
    width: 15%;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: #0aa6ff;
}
.button{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: aliceblue;
    background-color: #0aa6ff;
    box-shadow: 0px 0px 7px 2px #26adfc;
    border-radius: 5px;
    border: none;
}
.button:hover{
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
}
.container2{
    background: url(./img/Rectangle\ 9.png) no-repeat center /cover;
    height: 700px; 
    position: relative;
}
.slog{
    width: 900px;
    height: 189px;
    padding: 1rem 0.5rem;
    position: absolute;
    top: 50px;
    left: 305px;
}
.font-50{font-size: 50px;}
.font-25{font-size: 25px;}
.font-22{font-size: 22px;}
.font-18{font-size: 18px;}
.font-16{font-size: 16px;}
.font-12{font-size: 12px;}
.p-lbr{
    text-align: start;
    padding: 2% 5%;
    line-height: 1.2rem;
    font-size: 14px;
}
.cards{
    width: 750px;
    height: 207px;
    text-align: center;
    padding-top: 8%;
}
.card{
    background-color: var(--mainbg);
    width: 310px;
    height: 207px;
    padding: 1% 0;
    line-height: 2rem;
    border-radius:0 0 3% 3%;
}
.card-2{
    width: 100%;
    height: 320px;
    text-align: center;
}
.card2{
    background-color: #001B37;
    width: 28%;
    height: 280px;
    padding: 1% 1%;
    margin: 2%;
    border:1px solid grey;
    color: grey;
    border-radius: 3%;
}

.container4{
    background-color: #BCD1E7;
    position: relative;
    height: 490px;
}

.p1-sec4{
    color: var(--mainbg);
}
/* .container5{
    position: relative;
} */
.position-relative{
    position: relative;
}
.frame{
    position: absolute;
    background-color: #00A6FB;
    color: #FFFFFF;
    line-height: 1.2rem;
    top: 25%;
    right: 5%;
}
.button-more{
    padding: 0.8rem;
    margin: 0.5rem;
    color: #2947A9;
    font-weight: bold;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}
.card-bg-white{
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 55%;
    right: 22%;
}
